<!-- templates/login.html-->
{% extends "base/base.html" %}

{% block title %} Register{% endblock %}

{% block otherstyle %}

<link rel="stylesheet" href='/static/css/auth.css' />

{% endblock %}

{% block content %}


	<div class="main-box">
		<h1>Register an Account Here</h1>
		<form method="POST"
			action="{{ url_for('auth.create_user') }}"
			>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label" >Username</label>
				<input type="text" required class="form-control" placeholder="Unique Username"  name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="text" required placeholder="Password" class="form-control" name = "password" id="exampleInputPassword1">
			</div>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			<button type="submit" class="btn btn-primary">Create Account</button>
		</form>
		
	</div>

{% endblock%}


